@page "/home"
<style>
	.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		padding-right: 0;
		padding-left: 0;
	}
</style>


<PageTitle>Home</PageTitle>

<Line_Chart />

<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6" style="padding-right:0 !important;">
			<RadzenCard class="card" style="width:100;margin: 0rem; margin-top: .5em; height:100% ; border : 1px solid #ebebeb">
				<Pie_Chart />
			</RadzenCard>
		</div>
		<div class="col-lg-6 col-md-6">
			<RadzenCard class="card" style="width:100;margin: 0rem; margin-top: .5em; height:100%; border : 1px solid #ebebeb">
				<StackedBarSeries />
			</RadzenCard>
		</div>
	</div>
</div>




@code {
	byte suspended;
	bool keyExists;
	User userInfo = new User();
	User user = new User();
	List<User> users;
	string key = "UserInfo";
	protected override async Task OnInitializedAsync()
	{
		keyExists = await localStorage.ContainKeyAsync("UserInfo");
		if (!keyExists)
		{
			await localStorage.ClearAsync();
			navigationManager.NavigateTo("/NotFound");
		}
	}
}



