<style>
    .rz-legend {
        width: 80px;
        padding-left: 2em;
      
    }
    .svg{
        margin-top:50%;
    }


</style>

<RadzenChart SeriesClick=@OnSeriesClick ColorScheme="ColorScheme.Pastel" Style="width: 100%;height: 100%;margin-top: 50;">
        <p class="page-title" style="font-weight: lighter; display:flex; justify-content:center;">Revenue Per Year</p>
        <RadzenPieSeries Data="@RevenueYear" Title="Revenue" CategoryProperty="Year" ValueProperty="Revenue" >
            <RadzenSeriesDataLabels Visible="true"  OffsetX="-10" OffsetY="5" />
        </RadzenPieSeries>
    </RadzenChart>

@code{
    string title = "Total Amount\nSpent in TND";

    string SqlQueryRevenueYear = "SELECT * FROM Pie_Chart_View";

    List<RevenueYear> RevenueYear;
   
    protected override async Task OnInitializedAsync()
    {

        RevenueYear = dapperService.GetAll<RevenueYear>(SqlQueryRevenueYear, null);
    }

    void OnSeriesClick(SeriesClickEventArgs args)
    {

    }




}